## House Price prediction project

Problem Definition :
Goal: predict the sales price for each house

In [20]:
#Import Libraries
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv("./Data/train.csv")

In [22]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [23]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [24]:
features = ["LotArea", "YearBuilt", "1stFlrSF", "2ndFlrSF", "FullBath", "BedroomAbvGr", "TotRmsAbvGrd"]

### Splitting dataset into x and y

In [25]:
x = data[features]
y = data["SalePrice"]

In [26]:
x.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [2]:
y.head()

NameError: name 'y' is not defined

### X_train, y_train

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x,y, train_size=0.8, test_size = 0.2, random_state = 0)

NameError: name 'x' is not defined

### Machine learning model

### Decision Tree

In [29]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor(random_state= 1)

In [41]:
#Fit training data into model
dt_model.fit(x_train, y_train)

DecisionTreeRegressor(random_state=1)

In [31]:
y_preds = dt_model.predict(x_valid.head())

In [3]:
y_preds

NameError: name 'y_preds' is not defined

In [38]:
pd.DataFrame({'y' : y_valid.head(), 'y_preds' : y_preds })

          y   y_preds
529  200624  335000.0
491  133000  140200.0
459  110000  119000.0
279  192000  207500.0
655   88000  112000.0

In [40]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_valid.head(),y_preds) from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_valid.head(),y_preds)

SyntaxError: invalid syntax (Temp/ipykernel_4296/1568372871.py, line 2)

In [34]:
from sklearn.metrics import accuracy_score

print("Accuracy: ", accuracy_score(y_valid.head(), y_preds))

Accuracy:  0.0

### Model RandomForest

In [27]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
rf_model = RandomForestRegressor(random_state = 1)
rf_model.fit(rf_val_preds)

RandomForestRegressor(random_state=1)

In [29]:
rf_val_preds = rf_model.predict(x_valid)

In [31]:
rf_val_preds[:5]

array([271690., 155039., 122024., 188915.,  91147.])

In [67]:
pd.DataFrame({'y' : y_valid.head(), 'y_preds' : rf_val_preds[:5] })

          y   y_preds
529  200624  271690.0
491  133000  155039.0
459  110000  122024.0
279  192000  188915.0
655   88000   91147.0